h1 {
    background-color: #E795A0;
    color: #d4d4d4;
    text-align: center;
    padding: 20px;
    margin-top: 0;
}

h2 {
    background-color: #dbdada;
    color: #d103d1;
    padding: 15px;
}

.sub {
    background-color: #f5f36e;
}

/* .main :nth-child(2) {
    background-color: #E681B3;

} */

.main>p:first-child {
    background-color: blue;
}


.partners:hover {
    background-color: yellow;
}

a {
    text-decoration: none;

}

li:hover {
    background-color: rgb(247, 130, 130);

}

.partners {
    list-style: none;
    text-decoration: none;
    background-color: rgb(247, 130, 130);
    padding-left: 10px;
}

.subtext:hover {
    color: hotpink;
}


h4 {
    text-align: center;
}

h4 :link {
    color: a#387575;
}

h4 :visited {
    color: #387575;
}
h4 :hover {
    color: rgb(252, 50, 0);
}

h4 :active {
    color: rgb(233, 221, 51)
}


/* Contact Page */

#linkctc :link {
    color: #387575;
}

#linkctc :visited {
    color: #387575;
}

#linkctc :hover {
    color: rgb(252, 50, 0);
}

#linkctc :active {
    color: rgb(233, 221, 51)
}

/* exercise2 */


#header img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.ourtreats img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-left: 10px;
    ;
    border-radius: 5px solid#ebf8;
    float: left;
    margin: 15px;

}

#lollipop {
    border: yellow 5px solid;
}


#cottoncandy {
    float: right;
    border: #00ffff 5px solid;
}

#jellybeans {
    border: #f839a2 5px solid;
}


/* exercise3 */

body {
    background-color: rgb(202, 198, 202);
    margin: 0;
}

.mainsec {

    width: 70%;
    height: 100%;
    margin: 0 auto;
    background-color: rgb(241, 239, 241);
    border: white solid 2px;
    padding: 20px;
    border-radius: 10px;
}

#header {
    width: 100%;
    height: 150px;
    background-image: url(./images/main-header.jpg);
    background-size: cover;

}

#ctcheader {
    width: 100%;
    height: 150px;
    background-image: url(./images/contact-header.jpeg);
    background-size: cover;

}

.ctcul {
    background-color: rgb(132, 202, 230);
    padding: 20px;
}

.ctcul li {
    list-style-type: none;
    ;
}

